{% extends "base.html" %}

{% macro cut_end(long_string) %}
    {% set max_len = 20 %}
    {% if long_string|length > max_len %}
        {{ long_string[:max_len] }}...
    {% else %}
        {{ long_string }}
    {% endif %}
{% endmacro %}

{% block page_content %}
    {{ super() }}

    <div class="well well-lg text-center">
        <form action="{{ url_for('main.index') }}" method="post">
            <div class="input-group">
                {{ form.link(placeholder='A long link', class_="form-control" ) }}
                        <span class="input-group-btn"><span class="glyphicon glyphicon-scizzors" aria-hidden="true"></span>
                           {#  {{ form.submit(class_="form-control") }} #}
                            <button class="btn btn-default" type="submit" value="submit" _class="form-control">
                                <span class="glyphicon glyphicon-scissors"></span>
                            </button>
                        </span>
            </div>
            {{ form.csrf_token }}
        </form>
    </div>
    {% if url and long_url%}
        </br>
        </br>
        <div class="text-success ">
            {# shortened URL: <input type="text" class="form-control" id="result" value="{{ url_for('main.expand', code=url, _external=True) }}" autofocus/>  #}
            <div class="well well-lg text-left">
                <h4>yr shrtnd url for <a href="{{ long_url }}">{{ cut_end(long_url) }}</a>:</h4>
                <input type="text" class="form-control" id="result" value="{{ url }}" readonly autofocus/>
            </div>
            <script>
                window.onload = document.getElementById('result').select();
            </script>
        </div>
    {% endif %}
    <div class="text-center">
        </br>
        <div class="well well-lg text-center">
            <h5>mst clckd</h5>
            <div id="mostclicked">
                <div>Loading... <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
            </div>
        </div>
        <a href="{{ url_for('main.about') }}">about</a>
    </div>


{% endblock %}
{% block scripts %}
    {{ super() }}

    <script >
        $(document).ready(function() {
            $.getJSON( "{{ url_for('api.most_clicked') }}", function( data ) {
                console.log(data)
                var items = [];
                $.each( data, function( key, val ) {
                    $.each(val, function(key, val) {
                        items.push(
                                "<li class='list-group-item'>" +
                                "<span class='badge'>" +
                                val.clicks +
                                "</span><a href='" +
                                val.shorturl +
                                "'>"+ val.url +"</a></li>"
                        );
                    });
                });
                $( "#mostclicked").empty();
                $( "<ul/>", {
                    "class": "list-group",
                    html: items.join( "" )
                }).appendTo( "#mostclicked" );
            });
        });
    </script>
{% endblock scripts %}
